.about {
    display: block;
    padding-top: 71px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(26, 21, 21, 0.00) 0%, rgba(1, 1, 1, 0.16) 100%), #FFF;
    &__title {
        font-family: 'Montserrat', sans-serif;
        padding-top: 10px;
        width: 404px;
        height: 74px;
        text-align: center;
        align-items: center;
        color: #000;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        margin: 0 auto;
        border: 5px solid #000;
    }
    &__descr {
        padding-top: 25px;
        width: 763px;
        height: 47px;
        color: #050505;
        text-align: center;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        margin: 0 auto;
    }
    &__certificate {
        padding-top: 70px;
        margin: 0 auto;
        text-align: center;
        object-fit: cover;
    }
}