.skills {
    padding-top: 120px;
    padding-bottom: 50px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, rgba(26, 21, 21, 0.00) 0%, rgba(1, 1, 1, 0.16) 100%), #FFF;
    &__wrapper {
        padding-top: 55px;
        max-width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 30px;
        text-align: center;;
    }
    &__descr {
        margin: 10px 106px;;
        padding-top: 55px;
        font-size: 24px;
        text-transform: uppercase;
    }
    &__item {
        margin: 10px 80px;
        text-align: center;
    }
}